<h1>TeeTimeBookings#index</h1>
<p>Find me in app/views/tee_time_bookings/index.html.erb</p>

<% @bookings.each do |booking| %>
  <%= booking.user_email %>
<%end%>

<%= form_tag import_tee_time_bookings_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag %>
<% end %>